<app-toolbar (onSearchChange)="onSearchChanged($event)"></app-toolbar>
<div>
  <div>
    <div>
      <app-sidebar
        (onSelectFolderEvent)="onFilterFolderChanged($event)"
        (onSelectStatusEvent)="onFilterStatusChanged($event)"
        [statuses]="statuses"
        [folders]="folders"
      ></app-sidebar>
    </div>
    <main role="main">
      <app-torrent-list-item
        *ngFor="let torrent of torrents | filter: filter; let i = index"
        [index]="i"
        [torrent]="torrent"
      ></app-torrent-list-item>
    </main>
  </div>
</div>
<app-statusbar></app-statusbar>

