<app-toolbar (onSearchChange)="onSearchChanged($event)"></app-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-2 d-none d-md-block bg-light sidebar">
      <app-sidebar
        (onSelectFolderEvent)="onFilterFolderChanged($event)"
        (onSelectStatusEvent)="onFilterStatusChanged($event)"
        [statuses]="statuses"
        [folders]="folders"
      ></app-sidebar>
    </div>
    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-0">
      <app-torrent-list-item
        *ngFor="let torrent of torrents | filter: filter; let i = index"
        [index]="i"
        [torrent]="torrent"
      ></app-torrent-list-item>
    </main>
  </div>
</div>
<app-statusbar></app-statusbar>

