<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img src="/assets/transmission.svg" width="24" height="24" alt="" />
    Transmission
  </a>
  <button type="button" class="btn btn-outline-light mx-2">
    <i class="fas fa-plus"></i>
  </button>
  <div class="btn-group mx-2" role="group">
    <button type="button" class="btn btn-outline-light">
      <i class="fas fa-play"></i>
    </button>
    <button type="button" class="btn btn-outline-light">
      <i class="fas fa-pause"></i>
    </button>
  </div>
  <input
    class="form-control form-control-dark w-100 mx-2"
    type="text"
    placeholder="Search"
    aria-label="Search"
    (input)="searchChanged($event.target.value)"
  />
</nav>
