<div>
  
  <!-- Section -->
  <h6>
    <span>Folders</span>
  </h6>
  <ul>
    <li *ngFor="let folder of folders">
      <a [title]="folder" (click)="onFolderClick(folder)" href="#">
        {{ folder | folder }}
      </a>
    </li>
  </ul>

  <!-- Section -->
  <h6>
    <span>Status</span>
  </h6>
  <ul>
    <li>
      <a href="#" (click)="onStatusClick('faulted')">
        {{ statuses.faulted }} Faulted
      </a>
    </li>
    <li>
      <a href="#" (click)="onStatusClick('queued')">
        {{ statuses.queued }} Queued
      </a>
    </li>
    <li>
      <a href="#" (click)="onStatusClick('stopped')">
        {{ statuses.stopped }} Stopped
      </a>
    </li>
    <li>
      <a href="#" (click)="onStatusClick('checking')">
        {{ statuses.checking }} Checking
      </a>
    </li>
    <li>
      <a href="#" (click)="onStatusClick('downloading')">
        {{ statuses.downloading }} Downloading
      </a>
    </li>
    <li>
      <a href="#" (click)="onStatusClick('seeding')">
        {{ statuses.seeding }} Seeding
      </a>
    </li>
  </ul>
</div>
