
<div
  (mouseover)="mouseOverHandler(true)"
  (mouseleave)="mouseOverHandler(false)"
>
  <div>
    <input type="checkbox" />
  </div>
  <div>
    <ng-container *ngIf="!torrent.error" [ngSwitch]="torrent.status">
      <i
        class="far fa-stop-circle"
        title="Torrent is stopped"
        *ngSwitchCase="0"
      ></i>
      <i
        class="fas fa-spinner fa-pulse"
        title="Queued to check files"
        *ngSwitchCase="1"
      ></i>
      <i
        class="fas fa-circle-notch fa-spin"
        title="Checking files"
        *ngSwitchCase="2"
      ></i>
      <i
        class="fas fa-spinner fa-pulse"
        title="Queued to download"
        *ngSwitchCase="3"
      ></i>
      <i
        class="far fa-arrow-alt-circle-down"
        title="Downloading"
        *ngSwitchCase="4"
      ></i>
      <i
        class="fas fa-spinner fa-pulse"
        title="Queued to seed"
        *ngSwitchCase="5"
      ></i>
      <i
        class="far fa-arrow-alt-circle-up"
        title="Seeding"
        *ngSwitchCase="6"
      ></i>
      <i
        class="far fa-question-circle"
        title="Unknown state"
        *ngSwitchDefault
      ></i>
    </ng-container>
    <i
      *ngIf="torrent.error"
      class="fas fa-exclamation-triangle"
      [title]="torrent.errorString"
    ></i>
    <span [title]="torrent.name">{{ torrent.name }}</span>
  </div>
  <div>
    <i class="fas fa-long-arrow-alt-down"></i>
  </div>
  <div>{{ torrent.rateDownload | byte }}/s</div>
  <div>
    <i class="fas fa-long-arrow-alt-up"></i>
  </div>
  <div>{{ torrent.rateUpload | byte }}/s</div>
  <div>
    <div>
      <div
        role="progressbar"
        [style.width]="torrent.percentDone | percent"
        [attr.aria-valuenow]="torrent.percentDone * 100"
        aria-valuemin="0"
        aria-valuemax="100"
      >{{torrent.percentDone | percent}}</div>
    </div>
  </div>
</div>
